@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


.button {
    display: inline-flex;
    gap: .75rem;
    align-items: center;
    padding: 1rem 1.25em;
    border-radius: 5px;
    text-decoration: none;

    
    svg {
        font-size: 2em;
    }

    &:hover, 
    &:focus-within {
        outline: solid $clr-tertiary 2px;
        background-color: transparent;
        color: $clr-tertiary;
        cursor: pointer;
    }


}

