@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


.button {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem 1.25em;
    border-radius: 5px;
    text-decoration: none;
    
    svg {
        font-size: 2rem;
    }

    &:hover, 
    &:focus-within {
        outline: solid $clr-tertiary 2px;
        background-color: transparent;
        color: $clr-tertiary;
    }
}