@use '../abstracts/mixins' as *;

.news-feed {
    @include margin-block(4rem, 0);

    display: flex;
    gap: 4rem;

    > * {
        flex: 0 1 100%;
    }

    @media (min-width: 200px ) {
        flex-wrap: wrap;
    }
}