@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.social-bar {
    font-size: 3rem;

    a {
        color: $clr-secondary;
    }

    a:hover, 
    a:focus-within {
        color: $clr-tertiary;
    }
}