@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.social-bar {
    font-size: 3rem;

    a {
        color: $clr-secondary;
        cursor: pointer;
        
        :hover, 
        :focus-within {
            color: $clr-tertiary;
            cursor: pointer;
        }
    }

    
}