@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.spotlight {
    @include margin-block(0, $spacing-lrg);
    background-image: url(../assets/bg-purple-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: clamp(1rem, 3vw, 4rem);
    display: grid;
    place-items: center;
    gap: 1rem;

    .description {
        text-align: center;

        p {
            @include margin-block(1.75rem, 2rem);
            max-width: 480px;
        }
    }

    .details-wrapper .details {
        @include margin-block(2rem, 2rem);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, minmax(min-content, 200px));

        .description {
            text-align: left;
            grid-column: 7 / -1 ;
            grid-row: 2  ;
        }

        .details-wrapper {
            grid-column: 7 / -1 ;
            grid-row: 3;
        }

        .image {
            grid-column: 1 / 6;
            grid-row: 1 / 3;
        }
    }
}










