@use '../abstracts/variables' as *;

.container {
    // border: solid green 2px;
    max-width: 90rem; //1400px
    padding: $p-body;

    @media (min-width: $mq-768) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-inline: auto;
        z-index: -1;
    }
    
}
 