@use '../abstracts/variables' as *;

.flex {
    display: flex;
    gap: $gap;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


.direction-column {
    flex-direction: column;
}
