/* Padding */
$p-body: 0 clamp(1rem, 3vw, 4rem) 2rem;
$p-header: 2rem clamp(1rem, 3vw, 4rem);

/* Margin */
$m-sm: 2rem;
$m-lg: 3rem;

/* Spacing */
$spacing-lrg: 11rem;


/* Flex and Grid */
$gap: 2rem;

/* Media queries */
$mq-375: 23.438rem; // 375px
$mq-768: 48rem; // 768px
$mq-1000: 62.5rem; // 1000px
$mq-1440: 90rem; // 1440px
